[user]
	name = Alexey Berezuev
[core]
	autocrlf = false
	editor = vim
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
  
  pl = pull
  ps = push
  
  f = fetch
	fo = fetch origin
	fu = fetch upstream
