[user]
	name = Alexey Berezuev
[core]
	autocrlf = false
	editor = vim
    pager = delta
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[interactive]
    diffFilter = delta --color-only
[alias]
	co = checkout
	ci = commit
	cia = commit --amend
	st = status --short --branch
	br = branch 
	brc = rev-parse --abbrev-ref HEAD #Show current branch
	hist = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	type = cat-file -t
	dump = cat-file -p

 	pl = pull
	ps = push

	f = fetch
	fo = fetch origin
	fu = fetch upstream
    fr = !git fetch && git rebase -i origin/$1
    frm = !git fetch && git rebase -i origin/master
	
    permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
	please = push --force-with-lease
	uncommit = reset --soft HEAD~1
    puh = push -u origin HEAD
    pluh = push --force-with-lease -u origin HEAD

[delta]
    decorations = true
    line-numbers = true
    syntax-theme = Monokai Extended
    navigate = true
    light = false

    minus-style = red bold
    plus-style = green bold
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = yellow box ul
    commit-style = yellow bold
    file-decoration-style = yellow ul
    file-style = yellow bold
    hunk-header-decoration-style = blue box
    hunk-header-style = blue bold

[delta "line-numbers"]
    line-numbers-left-style = blue
    line-numbers-right-style = blue
    line-numbers-minus-style = red
    line-numbers-plus-style = green
